body, html {
  margin: 0;
  text-align: center;

  font-size: 16px;
  font-family: sans-serif;
}

#content {
  position: relative;
  display: inline-block;
  background-color: white;
}

@media (max-width: 620px) {
  #content, .code-line, #code {
    width: 100%;
  }
  body {
    background-color: #f0f0f0;
  }
}

@media (min-width: 620px) {
  #content {
    margin-top: 30px;
    margin-bottom: 30px;
    min-width: 600px;
    max-width: calc(100% - 20px);
  }
  #code {
    width: auto;
  }
  .code-line {
    min-width: 600px;
    max-width: 100%;
  }
  body {
    background-color: #d5d5d5;
  }
}

#metadata {
  padding: 0 10px;
  height: 40px;
  color: #777;
  text-align: center;
}

#metadata::after {
  content: '';
  display: block;
  clear: both;
}

#post-date {
  line-height: 40px;
  float: left;
}

#post-language {
  line-height: 40px;
  float: right;
}

#home-link {
  display: block;
  position: absolute;
  top: 5px;
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  background-image: url('../images/post.svg');
  background-size: 100% 100%;
  color: transparent;
  overflow: hidden;
}

#code-container {
  padding: 5px 0;
  background-color: #f0f0f0;
  min-height: 200px;
  overflow-x: auto;
}

#code {
  border-collapse: collapse;
  font-family: monospace, sans-serif;
}

.code-line {
  display: block;
}

.code-line-marker {
  font-size: 14px;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
  color: #999;
}

/* Using a psuedo-element for the label prevents the label from being copied and pasted. */
.code-line-marker::after {
  content: attr(line-number);
}

.code-text-container {
  text-align: left;
  padding-right: 5px;
}

.code-text {
  display: inline-block;
  font-size: 16px;
  color: #555;
  text-align: left;
  margin: 0;
  padding: 0;
}

.highlighted-line {
  background-color: #ddd;
}
